/* Styles for small screens (up to 576px) */
@media only screen and (max-width: 576px) {
    .description-carousel .slick-initialized {
        height: 240px !important;
    }
}

/* Styles for medium screens (576px to 768px) */
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .description-carousel .slick-initialized {
        height: 240px !important;
    }
}

/* Styles for large screens (768px to 992px) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .description-carousel .slick-initialized {
        height: 240px !important;
    }
}

/* Styles for extra-large screens (992px to 1200px) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .description-carousel .slick-initialized {
        height: 240px !important;
    }
}

/* Styles for extra-extra-large screens (1200px and above) */
@media only screen and (min-width: 1200px) {
    .description-carousel .slick-initialized {
        height: 240px !important;
    }
}